@model Phd.Models.Vote

@{
    ViewData["Title"] = "Vote";
}

<h2>Vote</h2>

<h4>PhdStudent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        
        
        <form asp-action="CreateVote">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@ViewBag.Id" name="PhdStudentId" />
            <div>
                <div>
                    <label asp-for="Voice">Голос</label>
                    <select asp-for="Voice" asp-items="Html.GetEnumSelectList<Choice>()"></select>
                </div>
                <div>
                    <input type="submit" value="CreateVote" />
                </div>
            </div>
        </form>
        
        
        
        
        

    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
