@model Phd.Models.Vote

@{
    ViewData["Title"] = "Vote";
}

<h2>Vote</h2>

<h4>PhdStudent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateVote">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@ViewBag.Id" name="PhdStudentId" />

            <div class="form-group">
                <label asp-for="Voice" class="control-label"></label>
                <input asp-for="Voice" class="form-control" />
                <span asp-validation-for="Voice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="CreateVote" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
