@model Phd.Models.PhdStudent

@{
    ViewData["Title"] = "Edit";
}

<h2>Изменить</h2>

<h4> профиль докуторанта: </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Fname" class="control-label"></label>
                <input asp-for="Fname" class="form-control" />
                <span asp-validation-for="Fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lname" class="control-label"></label>
                <input asp-for="Lname" class="form-control" />
                <span asp-validation-for="Lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mname" class="control-label"></label>
                <input asp-for="Mname" class="form-control" />
                <span asp-validation-for="Mname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MajName" class="control-label"></label>
                <input asp-for="MajName" class="form-control" />
                <span asp-validation-for="MajName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisNameKaz" class="control-label"></label>
                <input asp-for="DisNameKaz" class="form-control" />
                <span asp-validation-for="DisNameKaz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisNameRus" class="control-label"></label>
                <input asp-for="DisNameRus" class="form-control" />
                <span asp-validation-for="DisNameRus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisNameEng" class="control-label"></label>
                <input asp-for="DisNameEng" class="form-control" />
                <span asp-validation-for="DisNameEng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MajorCode" class="control-label"></label>
                <input asp-for="MajorCode" class="form-control" />
                <span asp-validation-for="MajorCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
