
@{
    ViewBag.Title = "VoteResult";
}

<h2>Details</h2>

<h2>@ViewBag.Vote.</h2>


<p>Use this area to provide additional information.</p>





<div>
    <a asp-action="Index">Назад к списку</a> |
</div>
