@model Phd.Models.DisCouncil

@{
    ViewData["Title"] = "Edit";
}

<h2>Изменить</h2>

<h4>Диссовет</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="OrderNumber" class="control-label"></label>
                <input asp-for="OrderNumber" class="form-control" />
                <span asp-validation-for="OrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CouncilChairman" class="control-label"></label>
                <input asp-for="CouncilChairman" class="form-control" />
                <span asp-validation-for="CouncilChairman" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CouncilSecretary" class="control-label"></label>
                <input asp-for="CouncilSecretary" class="form-control" />
                <span asp-validation-for="CouncilSecretary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CouncilMember" class="control-label"></label>
                <input asp-for="CouncilMember" class="form-control" />
                <span asp-validation-for="CouncilMember" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefenceDate" class="control-label"></label>
                <input asp-for="DefenceDate" class="form-control" />
                <span asp-validation-for="DefenceDate" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

