@{
    ViewData["Title"] = "Подверждение забытого пароля";
}

<h2>@ViewData["Title"]</h2>
<p>
    Пожалуйста проверьте свою эл.почту.
</p>

<p>
    <a asp-controller="Home" asp-action="Index">На главную</a>
</p>