@{
    ViewData["Title"] = "Подверждение регистрации пользователя";
}

<h2>@ViewData["Title"]</h2>
<p>
    Уважаемый пользователь ваша регистрация прошла успешно.
</p>

<p>
    <a asp-controller="Home" asp-action="Index">На главную</a>
</p>