@{
    ViewData["Title"] = "Отправка регистрации на почту";
}

<h2>@ViewData["Title"]</h2>
<p>
    Уважаемый пользователь, для завершения регистрации проверьте электронную почту и перейдите по ссылке.
</p>

<p>
    <a asp-controller="Home" asp-action="Index">На главную</a>
</p>