@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>Список ролей</h2>
<table class="table">
    @foreach (var role in Model)
    {
    <tr>
        <td>@role.Name</td>
        <!--
     <td>
        <form asp-action="Delete" asp-route-id="@role.Id" method="post">
            <button type="submit" class="btn btn-sm btn-danger">
                Удалить
            </button>
        </form>
    </td>
    -->

    </tr>
    }
</table>

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("moderator"))
    {
        <a asp-action="UserList">Список пользователей</a>
    }
    else if (User.IsInRole("admin"))
    {
        <a asp-action="UserList">Список пользователей</a>
    }
    else if (User.IsInRole("Ученый секретарь"))
    {
        <a asp-action="UserList">Список пользователей</a>
    }
    <!--
            else if (User.IsInRole("admin"))
    {
        <a asp-action="Create">Добавить роль</a>
    }
    -->

}
