@{
    ViewData["Title"] = "Контактные лица";
}
<h2>@ViewData["Title"]</h2>


<address>
    ул. Сатбаева 2,<br />
    г. Нур-Султан, 010000, Республика Казахстан<br />
    <abbr title="Phone">Тел.:</abbr>
    +7 (7172) 70 95 00
</address>

<address>
    <strong>Тех. поддержка:</strong> <a href="mailto:Support@example.com">daurdos@gmail.com</a><br />
    <strong>Отдел организации обучения:</strong> <a href="mailto:Marketing@example.com">education@example.com</a>
</address>
