@{
    ViewData["Title"] = "Контактные лица";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    ул. Сыганак 18/1<br />
    Нур-Султан, 010000, Республика Казахстан<br />
    <abbr title="Phone">Тел.:</abbr>
    +7 701 398 27 50
</address>

<address>
    <strong>Техническая поддержка:</strong> <a href="mailto:Support@example.com">support@example.com</a><br />
    <strong>Отдел организации обучения:</strong> <a href="mailto:Marketing@example.com">education@example.com</a>
</address>
