@{
    ViewData["Title"] = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{
    <p><h3>Добро пожаловать в систему онлайн-голосования по диссертационным советам</h3></p>
    <p><h4>@User.Identity.Name</h4></p>

}
else
{

}


